@page "/account"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Proj_APBD.Client.Models
@using Syncfusion.Blazor.Layouts
@inject IJSRuntime Js
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject UserData UserData

<PageTitle>Account</PageTitle>
<div class="headline">
    <h1>Account</h1>
</div>

<div class="w-50">
    <SfDashboardLayout Columns="2" AllowDragging="false">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Column="0" Row="0">
                <HeaderTemplate>
                    <div>Account settings</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <div>
                        <div>Name</div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <SfTextBox Placeholder="Username" Value="@Username" OnInput="(e) => Username = e.Value.ToString()"/>
                        </div>
                        <div>User Id</div>
                        <div>
                            <div>@Id</div>
                        </div>
                        <div>Role</div>
                        <div>
                            <div>@Role</div>
                        </div>
                        <div>
                            <SfButton CssClass="e-danger" >Delete Account</SfButton>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="1" Row="0">
                <HeaderTemplate>
                    <div>Change Password</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <SfTextBox Placeholder="Current Password" Type="InputType.Password" OnInput="(e) => CurrentPassword = e.Value.ToString()"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <SfTextBox Placeholder="New Password" Type="InputType.Password" OnInput="(e) => NewPassword = e.Value.ToString()"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <SfTextBox Placeholder="Repeat New Password" Type="InputType.Password" OnInput="(e) => RepeatNewPassword = e.Value.ToString()"/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                        <SfButton CssClass="e-danger" >Submit</SfButton>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>


@code {
    private string Username { get; set; }
    private string Id { get; set; }
    private string Role { get; set; }

    private string CurrentPassword { get; set; }
    private string NewPassword { get; set; }
    private string RepeatNewPassword { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        Username = UserData.Username;
        Id = UserData.Id;
        Role = UserData.Role;
    }

    /*private async Task Logout()
    {
        await Js.InvokeVoidAsync("localStorage.setItem", "jwt", "");
        await Js.InvokeVoidAsync("localStorage.setItem", "ref", "");
        NavigationManager.NavigateTo("/login");
    }*/

}