.headline{
    padding: 30px 0 15px 20px;
    font-family: Andale Mono, monospace;
}
.search{
    padding: 0 20px;
}
.autocomplete{
    table-layout: fixed;
    width: 100%
}
.stockname{
    text-overflow: ellipsis;
}
.mid-pad{
    padding: 40px 20px;
}
.stockdata{
    height: 20vh;
}