@page "/login"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Proj_APBD.Shared.Models.DTOs
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IJSRuntime Js

<div class="center">
    <h3>Login</h3>
    <div class="field col-xs-6 col-sm-6 col-lg-6 col-md-6">
        <SfTextBox Placeholder="Username" OnInput="(e) => Username = e.Value.ToString()"/>
    </div>
    <div class="field col-xs-6 col-sm-6 col-lg-6 col-md-6">
        <SfTextBox Placeholder="Password" Type="InputType.Password" OnInput="(e) => Password = e.Value.ToString()"/>
    </div>
    
    <div class="buttons">
        <div class="button">
            <SfButton IsPrimary="true" CssClass="e-outline" @onclick="@OnLogin">Login</SfButton>
        </div>
        <div class="button">
            <SfButton CssClass="e-flat" IsPrimary="true" @onclick="@OnRegister">Register</SfButton>
        </div>
    </div>
</div>


@code {
    private string Username { get; set; }
    private string Password { get; set; }

    private async Task OnLogin()
    {
        var dto = new UserDTO() { Username = Username, Password = Password };
        var response = await HttpClient.PostAsJsonAsync("api/Accounts/login", dto);
        var tokens = await response.Content.ReadFromJsonAsync<JwtDTO>();
        await Js.InvokeVoidAsync("localStorage.setItem", "jwt", tokens.Token);
        await Js.InvokeVoidAsync("localStorage.setItem", "ref", tokens.Ref);
        NavigationManager.NavigateTo("", true, true);
    }

    private void OnRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

}